<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91778432471-a8obmadpbm88u0crh0vdnfrn311cs5e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91778432471-a8obmadpbm88u0crh0vdnfrn311cs5e3</string>
	<key>API_KEY</key>
	<string>AIzaSyAVBUAjhC7VnSuzS__rP6lj3geAUc27wGw</string>
	<key>GCM_SENDER_ID</key>
	<string>91778432471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontEnd</string>
	<key>PROJECT_ID</key>
	<string>nuhelper-5a2c6</string>
	<key>STORAGE_BUCKET</key>
	<string>nuhelper-5a2c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91778432471:ios:62aa7f2075eb66971b9f92</string>
</dict>
</plist>